<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ChartDirector ASP.NET Sample Programs</title>
</head>
<body style="margin:0px">
	<div style="padding:3px 0px 3px 5px; font:bold 9pt verdana; background-color:#ccccff"><i>ChartDirector Ver 5.1 (.NET Edition)</i></div>
	<div style="font:bold 20pt verdana; padding:0.3em 0px 0.1em 5px;">ChartDirector ASP.NET Sample Programs</div>
	<hr style="color:#9999ff;">
	<div style="padding-left:5px; font:10pt verdana">
		ChartDirector ASP.NET sample programs are available in both C# and VB. Please choose the one you would like to try:
		<ul style="list-style:square;">
		<li style="padding-bottom:1em;"><a href="CSharpASP/index.htm">C# ASP.NET sample programs</a></li>
		<li style="padding-bottom:1em;"><a href="VBNetASP/index.htm">VB ASP.NET sample programs</a></li>
		</ul>
	</div>	
</body>
</html>
